<tr>
  <td><%= order_detail.product_name %></td>
  <td><%= t("order_details.order_detail.price", price: order_detail.product_price) %></td>
  <td><%= order_detail.quality %></td>
  <td><%= t("order_details.order_detail.price",
    price: calc_price(order_detail.product_price, order_detail.quality)) %></td>
</tr>
